/*need to start with the global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*making the page scalable by setting font scales*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: black;
  overflow-x: hidden;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 45rem;
  margin: 0 auto;
  margin-top: 12rem;
}

.box {
  border: 1px solid black;
  font-size: 5rem;
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  cursor: pointer;
}

/* .reset {
  display: inline-block;
  align-items: center;
  justify-content: center;
} */

.addMessage {
  display: flex;
  background: #67e8a7;
  color: #082c1a;
  align-items: center;
  justify-content: center;
  width: 45rem;
  height: 45rem;
  padding: 10rem 10rem;
  margin: 0 auto;
  font-size: 8rem;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45rem;
  height: 8;
  margin: 0 auto;
  background: #0d3b66;
  color: #cfd8e0;
  font-style: bold;
  font-size: 4rem;
  border: none;
  transition: all 0.3s;
}

.reset:hover {
  cursor: pointer;
  background: #cfd8e0;
  color: #0d3b66;
}

.hidden {
  display: none;
}

.returnToSite:link,
.returnToSite:visited {
  display: block;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  background: #e35400;
  padding: 1rem;
  text-decoration: none;
  color: black;
  width: 100vw;
  transition: all 0.2s;
}

.returnToSite:hover,
.returnToSite:active {
  background: black;
  color: #e35400;
}

@media (max-width: 460px) {
  .container, .addMessage, .reset {
    max-width: 35rem;
  }

  .box {
    height: 11.667rem;
  }
}